* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #2E0D2A);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  max-width: 400px;
  width: 100%;
  padding: 40px 30px;
  text-align: center;
  animation: fadeIn 1.2s ease-in-out;
}

.logo {
  width: 60%;
  height: 60%;
  margin-bottom: 20px;
  object-fit: contain;
}

.form-box h2 {
  margin-bottom: 20px;
  color: #2E0D2A;
}

input {
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #2E0D2A;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s;
}

input:focus {
  border-color: #2E0D2A;
  outline: none;
  transform: scale(1.05);
}

input:hover{
  transform: scale(1.05)
}
/* icons */
.input-container {
  position: relative;
  margin: 15px 0;
}

.input-container i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #afa9a9;
}

.input-container input {
  width: 100%;
  padding: 12px 12px 12px 40px; /* extra left padding for icon */
  border: 1px solid #2E0D2A;
  border-radius: 5px;
  font-size: 16px;
}

/* forgot password */
.p {
  text-align: right;
  font-size: 13px;
  color: #007bff;
}

.p:visited{
  color: #ff0202;
}
.btn {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background: #2E0D2A;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 20px;
}
.btn:hover {
  background: #007bff;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

.google-btn {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background: #2E0D2A;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.google-btn:hover {
  background: #007bff;
  transition: background 0.3s;
}

.switch-link {
  margin-top: 15px;
  font-size: 14px;
}

.switch-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.switch-link a:hover {
  text-decoration: underline;
}
.switch-link a:visited {
  color: #ff0202;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 30px 20px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }
}