<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Do not rewrite existing files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rewrite to index.php for front controller routing
  RewriteRule ^.*$ index.php [L]
</IfModule>
